@import './mixin.scss';

@mixin themeFn(
  $themeColor,
  $themeColorHover,
  $themeColorActive,
  $themeColorDisable,
  $themeColorError
) {
  // 主题字体颜色
  .theme_font_color {
    color: $themeColor !important;
  }

  // 行高为32的空心按钮
  .custom_btn_plain_32 {
    @include el-button-plain-common(
      $themeColor,
      $themeColorHover,
      $themeColorActive,
      $themeColorDisable,
      $themeColorError
    );
    &.el-button {
      height: 32px !important;
      line-height: 30px !important;
      min-width: 80px !important;
    }
  }

  // 行高为36的空心按钮
  .custom_btn_plain_36 {
    @include el-button-plain-common(
      $themeColor,
      $themeColorHover,
      $themeColorActive,
      $themeColorDisable,
      $themeColorError
    );
    &.el-button {
      height: 36px !important;
      line-height: 34px !important;
      min-width: 100px !important;
    }
  }

  // 行高为32的实心按钮
  .custom_btn_32 {
    @include el-button-common(
      $themeColor,
      $themeColorHover,
      $themeColorActive,
      $themeColorDisable,
      $themeColorError
    );
    &.el-button {
      height: 32px !important;
      line-height: 30px !important;
      min-width: 80px !important;
    }
  }

  // 行高为36的实心按钮
  .custom_btn_36 {
    @include el-button-common(
      $themeColor,
      $themeColorHover,
      $themeColorActive,
      $themeColorDisable,
      $themeColorError
    );
    &.el-button {
      height: 36px !important;
      line-height: 34px !important;
      min-width: 100px !important;
    }
  }

  // 单选
  .el-radio {
    /deep/.el-radio__inner {
      &:hover {
        border-color: $themeColor !important;
      }
    }
    &.is-checked {
      /deep/.el-radio__inner {
        background-color: $themeColor !important;
        border-color: $themeColor !important;
      }
      /deep/.el-radio__label {
        color: $themeColor !important;
      }
    }
  }
}
