html,
body {
  font: normal 1em/1.25em 'Microsoft YaHei', Helvetica, Arial, sans-serif,
    sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  color: #282b32;
}

a {
  text-decoration: none;
}

// 超出一行显示省略号
.ellipsis-1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
